$primary-color: darkblue;
$background-color: #BADA55;

.popupContainer {
    align-items: center;
    color: $primary-color;
    display: flex;
    font-size: 20px;
    justify-content: center;
    width: 800px;
}

.albumImage {
    width: 100%;
}