@import './variables.scss';

.mediaButton {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  position: relative;
  color: white;
  font-size: 14px;
  padding: 15px 15px;
}
.mediaButton:hover {
  background: #DDDDDD;
}
.mediaButton:active {
  content: "";
  background: #999999;
  border-radius: 100%;
  animation: ripple 0.3s 1 ease-out;
}
.icon {
  position: absolute; 
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
@keyframes ripple {
  0% {
    opacity: 1;
    transform: scale(0.0);
  }
  100% {
    opacity: 0.5;
    transform: scale(1.0);
  }
}
